In [1]:
#VARIABLES
#This is a single line comment
#Coder singh is very helpful
name = "Nandini"
age = 19
IsSingle = False

#print(name)
#print("My age is", age)
#print(IsSingle)

In [2]:
#CONDITIONS
if age > 24:
   print("She is a Woman")
elif age < 10 and age > 5:
    print("Very young girl")
elif age == 10 or age == 6:
    print("Age is 10 or 6")
else:
     print("Still a girl")

Still a girl

In [3]:
#CONDITIONS
if age == 5 or age == 3 and name == "Nandini" or name == "Nandini don":
    print("Conditions are true")
else:
    print("Conditions are false")

Conditions are false

In [4]:
#CONDITIONS
if age == 5 and name == "Nandini" or age == 3 and name =="Don":
   print("Conditions are true")
else:
    print("Conditions are false")

Conditions are false

In [5]:
print(1)
print(2)
print(3)

1
2
3

In [6]:
#LOOPS
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [7]:
#LOOPS
for i in range(1,10):
    if i > 5:
      print("Big number",i)
    else:
        print("small number",i)

small number 1
small number 2
small number 3
small number 4
small number 5
Big number 6
Big number 7
Big number 8
Big number 9

In [8]:
#LOOPS
end = 1
while end <= 10:
    print(end)
    end = end + 1

1
2
3
4
5
6
7
8
9
10

In [9]:
num1 = 10
num2 = 2

print("Division",num1 / num2)
print("Mul",num1 * num2)
print("Addition",num1+num2)
print("Substraction",num1-num2)

Division 5.0
Mul 20
Addition 12
Substraction 8

In [10]:
# Modulus - remainder
print("Modulus",num1%num2)

Modulus 0

In [11]:
for i in range(1,11):
    if i % 2 == 0:
        print("Even",i)
    else:
        print("Odd",i)

Odd 1
Even 2
Odd 3
Even 4
Odd 5
Even 6
Odd 7
Even 8
Odd 9
Even 10

In [12]:
#Break Continue
for i in range(657,98789):
    if i % 5 == 0:
        break
        print(i)
        print("The number is",i)

In [13]:
#List and tupple
cars = ["BMW","Marcedes","Audi"]
bikes =("Suzuki","Yamaha","Ducati")
print(cars)
print(bikes)

['BMW', 'Marcedes', 'Audi']
('Suzuki', 'Yamaha', 'Ducati')

In [14]:
cars.append("Maruti")
print(cars)

['BMW', 'Marcedes', 'Audi', 'Maruti']

In [15]:
#The values for bikes is fixed when given with ()
for c in cars:
    print("I wanr this car:",c)
for b in bikes:
    print("I want the bike:",b)

print(len(cars))
print(len(bikes))

I wanr this car: BMW
I wanr this car: Marcedes
I wanr this car: Audi
I wanr this car: Maruti
I want the bike: Suzuki
I want the bike: Yamaha
I want the bike: Ducati
4
3

In [16]:
#Dictionary
person = {
    "name":"Nandini",
    "age":25
}
print(person)
print(person["name"])
print(person["age"])

{'name': 'Nandini', 'age': 25}
Nandini
25

In [17]:
#Functions - set of code - which we can repetitively call
#Global scope
mainNumber = 5
def isEven(num):
    if num % mainNumber == 0:
     print("Even")
    else:
        print("Odd")
    num2 = 2
print(num2)        
for i in range(77,78):
    isEven(i)

2
Odd

In [21]:
#Global scope variable
mainNumber = 5
def isEven(num):
    global mainNumber
    mainNumber = 4
    print("2:",mainNumber)
    if num % mainNumber == 0:
     print("Even")
    else:
        print("Odd")
          
for i in range(77,78):
    isEven(i)
print("1:",mainNumber)

2: 4
Odd
1: 4

In [26]:
#EXAMPLE
balance = 100
withdraw_count = 0
def withdraw(amt):
    global balance
    balance -= amt
    global withdraw_count
    print("B:", balance, " WC:", withdraw_count)
    withdraw_count += 1
    if withdraw_count == 4:
        balance += 100
        withdraw_count = 0
def add(amt):
    global balance
    balance += amt

for i in range(1, 10):
    withdraw(i)
add(900)
print("Balance:", balance)

B: 99  WC: 0
B: 97  WC: 1
B: 94  WC: 2
B: 90  WC: 3
B: 185  WC: 0
B: 179  WC: 1
B: 172  WC: 2
B: 164  WC: 3
B: 255  WC: 0
Balance: 1155

In [29]:
#Yield - used in python generators
def genNum():
     for i in range(2, 10):
            yield i
            
for i in genNum():
    print(i)

2
3
4
5
6
7
8
9

In [32]:
#Lambda
def mul(num):
    return num * num
a = mul(10)
print(mul(9) + a)

181

In [34]:
#above code in one line using Lambda
mul = lambda x : x * x

a = mul(10)
print(mul(9) + a)

181

In [36]:
#Map function
mul = lambda x : x * x
mulList = [4, 8, 90, 2]
out = map(mul, mulList)
print(out)

<map object at 0x0000029A8D099710>

In [38]:
mul = lambda x : x * x
mulList = [4, 8, 90, 2]
out = map(mul, mulList)
for i in out:
    print(i)

16
64
8100
4

In [39]:
#Filter
isBigger = lambda x, y: x > y
print(isBigger(5,12))

False

In [44]:
isBigger = lambda x: x > 7
nums = [23, 44, 34, 5, 6, 6, 774, 4, 3, 2]
bigNums = filter(isBigger, nums)
for i in bigNums:
      print(i)

23
44
34
774

In [55]:
#Class and Inheritance
class Person:
    
    def __init__(self, name, age):
         self.name = name
         self.age = age
    def getName(self):
        return self.name
    def getAge(self):
        return self.age
    
class Employee(Person):
    
    def setSalary(self, salary):
        self.salary = salary

p1 = Person("Nandini", 25)
p2 = Person("Coder Singh", 22)

print(p1.name)
print(p1.getAge())
print(p2.name)
print(p2.age)

e1 = Employee("Nandini", 22)
e1.setSalary(20)
e2 = Employee("Preet", 25)
e2.salary = 70

print(e1.name)
print(e1.salary)

print(e2.name)
print(e2.salary)

Nandini
25
Coder Singh
22
Nandini
20
Preet
70